$white: #fff;
$black: #000;
$black-text: #404040;
$black-text-desc: #717171;

$blue: rgb(59, 73, 223);
$blue-hover: rgb(48, 59, 182);
$blue-hover-light: rgba(59, 73, 223, 0.1);

$gray-border: rgb(212, 212, 212);
$gray-hover: rgb(245, 245, 245);
$gray-badge: #d4d4d4;


$red: #b91c1c;
$red-hover: #ef4444;

$body-bg: #f5f5f5;
$card-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);

$site-width: 1380px;

$header-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
$header-height: 56px;

// TODO: Customize boostrap variables

// Overwrite bootstrap variables
$primary: $blue;
$primary-hover: $blue-hover;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";



