.sign-in-container {
  max-width: 100vw;

  @include media-breakpoint-up(md) {
    max-width: 65vw;
  }

  @include media-breakpoint-up(lg) {
    max-width: 55vw;
  }

  @include media-breakpoint-up(xl) {
    max-width: 45vw;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 35vw;
  }

  &__inner {
    & > * + * {
      margin-top: 20px;
    }
    padding: 24px;

    @include media-breakpoint-up(lg) {
      padding: 48px;
    }
  }

  .sign-in-form__wrapper {
    form {
      & > * + * {
        margin-top: 16px;
      }

      .sign-in-btn,
      .sign-in-btn__google {
        padding: 12px 20px;
        
      }

      .sign-in-btn {
        font-weight: bold;
      }

      .sign-in-btn__google {
        border-color: $gray-border;
        font-weight: 500;

        &:hover {
          background-color: $gray-hover;
          color: $black;
        }
      }
    }

    .sign-in-misc {
      & > * + * {
        margin-top: 24px;
      }

      &__terms {
        font-size: 14px;
        padding: 0px;

        @include media-breakpoint-up(sm) {
          padding: 0 48px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 56px;
        }
      }

      &__register {
        padding: 0 32px;

        @include media-breakpoint-up(sm) {
          padding: 0 16px;
        }
      }
    }
  }
}