.sign-in-container {
  max-width: 100vw;

  @media (min-width: 768px) {
    // md breakpoint
    max-width: 65vw;
  }

  @media (min-width: 992px) {
    // lg breakpoint
    max-width: 55vw;
  }

  @media (min-width: 1200px) {
    // xl breakpoint
    max-width: 45vw;
  }

  @media (min-width: 1400px) {
    // xxl breakpoint
    max-width: 35vw;
  }

  &__inner {
    padding: 24px;

    @media (min-width: 992px) {
      // lg breakpoint
      padding: 48px;
    }

    & > * + * {
      margin-top: 20px;
    }
  }

  .sign-in-form__wrapper {
    form {
      & > * + * {
        margin-top: 16px;
      }

      .sign-in-btn,
      .sign-in-btn__google {
        padding: 12px 20px;
      }

      .sign-in-btn {
        font-weight: bold;
      }

      .sign-in-btn__google {
        border-color: $gray-border;
        font-weight: 500;

        &:hover {
          background-color: $gray-hover;
          color: $black;
        }
      }
    }

    .sign-in-form__error-wrapper {
      background-color: rgba(220, 38, 38, 0.1);
      border-radius: 4px;
      animation: shake 0.3s ease-in-out 0s 2 normal none running;

      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        75% {
          transform: translateX(-5px);
        }
        100% {
          transform: translateX(0);
        }
      }

      .sign-in-form__error {
        color: $red;
      }
    }

    .sign-in-misc {
      & > * + * {
        margin-top: 24px;
      }

      &__terms {
        font-size: 14px;
        padding: 0;

        @media (min-width: 576px) {
          // sm breakpoint
          padding: 0 48px;
        }

        @media (min-width: 992px) {
          // lg breakpoint
          padding: 0 56px;
        }
      }

      &__register {
        padding: 0 32px;

        @media (min-width: 576px) {
          // sm breakpoint
          padding: 0 16px;
        }
      }
    }
  }
}
