.dashboard__container {
  padding-top: calc($header-height + 16px);

  ul {
    border: 1px solid $gray-border;
    border-radius: 8px;
    li {
      padding: 12px 24px;  
      border-bottom: 1px solid $gray-border;
      h5 {
        cursor: pointer;
      }
      &:hover {
        background-color: $gray-hover;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .actions-group {
    button,a {
      padding: 8px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      background-color: transparent;
      border-radius: 8px;
      color: $black-text;
      border: 0;

      &:first-child {
        color: $red;
        &:active {
          background-color: $gray-border;
          color: $red;
        }
      }

      &:hover {
        background-color: $gray-border;
      }

      &:active {
        background-color: $gray-border;
        color: $black-text
      }
    }
  }
}