$blue: rgb(59, 73, 223);
$blue-hover: rgb(48, 59, 182);

$gray-border: rgb(212, 212, 212);
$gray-hover: rgb(245, 245, 245);

// TODO: Customize boostrap variables

// Overwrite bootstrap variables
$primary: $blue;
$primary-hover: $blue-hover;



