.main-layout {
  &__container {
    padding-bottom: 50px;
  }

  &__header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    box-shadow: $header-shadow;
    background-color: $white;

    .navbar {
      width: $site-width;
      margin: 0 auto;
      padding: 0;

      @media (max-width: 768px) {
        width: 100%;
        padding: 0 15px;
      }
    }

    &-logo {
      max-width: 200px;
      width: 100%;
      height: calc($header-height - 10px);

      @media (max-width: 768px) {
        max-width: 150px;
      }

      @media (max-width: 480px) {
        max-width: 120px;
      }
    }

    &-btn {
      &:hover {
        text-decoration: underline;
      }

      &.sign-in {
        border-color: transparent;

        &:hover {
          background-color: $blue-hover-light;
          border-color: transparent;
          color: $blue;
        }
      }
    }

    &-noti {
      font-size: 24px;

      @media (max-width: 768px) {
        font-size: 20px;
      }

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }

    &-user {
      .dropdown {
        button {
          padding: 0;
          border: none;
          background-color: transparent;

          &::after {
            content: none;
          }

          &:active {
            background-color: transparent;
          }
        }

        &-menu {
          max-width: 360px;
          width: 250px;
          box-shadow: 0 10px 15px -3px rgba($black, 0.1),
            0 4px 6px -2px rgba($black, 0.05), 0 0 0 1px rgba($black, 0.1);
          background-color: $white;
          border: none;

          @media (max-width: 768px) {
            width: 200px;
          }

          @media (max-width: 480px) {
            width: 150px;
          }
        }

        &-item {
          padding: 8px 16px;

          &:hover {
            background-color: $blue-hover-light;
            border-radius: 8px;
            text-decoration: underline;
            color: $blue;

            a {
              color: $blue;
            }
          }

          a {
            text-decoration: none;
            color: $black-text;

            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100%;
            }
          }

          .user-name {
            font-size: 14px;

            @media (max-width: 480px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    &-user-img {
      max-width: 32px;
      border-radius: 9999px;

      @media (max-width: 480px) {
        max-width: 24px;
      }
    }
  }
}
