.custom-header {
    background-color: #1b1b1f;
    color: white;
    padding-bottom: 20px;
  }
  
  .custom-header h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .custom-header p {
    font-size: 1.25rem;
  }
  
  .custom-header a {
    color: #f3b541;
    text-decoration: none;
  }
  
  .custom-header a:hover {
    text-decoration: underline;
  }
  