* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0!important;
  margin: 0!important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  margin: 1em 0;
}

code {
  // display: block;
  white-space: pre;
}
