@import 'normalize.css';

:root{
    --purple-600:#2a2136;
    --purple-400: #8e65c0; 
    --purple-200: #67616b;
    --green: #00cab6;
    --red : #de1651;
    --white-600: #edecef;
    --white-500: #f4f5f8;
    --white-200: #fff;
    --white-100: #ffffff;
    --yellow-600: #fac919;
    --yellow-500: #f9df29;
    --yellow-400: #fff2ce;
    --gray-600: #9195ab;
    --gray-500: #e4e3e4;
    --gray-400: #201e21;
    --gray-200: #919191;
    --black : #201e21;
}