$purple-700: #201e21;
$purple-600:#2a2136;
$purple-500: #8e65c0; 
$purple-hover: #5a54c4;
$purple-shadow: #8e65c080;

$cyan: #00cab6;
$red : #de1651;

$white-400: #e4e3e4;
$white-300: #edecef;
$white-200: #f4f5f8;
$white-100: #fff;

$yellow-600: #fac919;
$yellow-500: #f9df29;
$yellow-400: #fff2ce;

$gray-400: #67616b;
$gray-300: #919191;
$gray-200: #9195ab;
$gray-100: #c4c7d5;

// TODO: Customize boostrap variables

// $primary: $color;
// %secondary: $color;
