.profile-page {
  &__container {
    max-width: $site-width;
    margin: 0 auto;
    padding-top: calc($header-height + 16px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      background-color: $white;
      border: none;
      box-shadow: $card-shadow;
      width: 100%;
      max-width: 100%;
    }

    .row + .row {
      margin-top: 16px;
    }

    .profile-card {
      max-width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > button {
        margin-top: 16px;
        align-self: flex-end;
      }

      &-text,
      &-title {
        text-align: center;
      }

      .info-misc {
        color: $black-text-desc;
      }
    }

    .summary-card {
      .card-body > * + * {
        margin-top: 10px;
      }
    }
  }

  &__img {
    width: 115px;
    height: 115px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: $card-shadow;
    object-fit: cover;
  }

  &__content {
    max-width: 100%;
  }
}
